.header {
  position: relative;

  background-color: #1b2d37;
  background-image: url("../img/desktop-header-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &::before {
    content: "";

    position: absolute;
    top: 119px;
    right: 240px;

    width: 1405px;
    height: 644px;

    background-image: url("../img/desktop-header-bg.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: $tablet-width) {
      top: 82px;
      right: 0;

      width: 770px;
      height: 400px;

      background-image: url("../img/tablet-header-bg.svg");
    }

    @media (max-width: $mobile-width) {
      top: 65px;
      right: 0;

      width: 321px;
      height: 399px;

      background-image: url("../img/mobile-polygon-1.svg");
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-header-background@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/tablet-header-background.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-header-background@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/mobile-header-background.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-header-background@2x.png");
    }
  }
}

.header__wrapper {
  position: relative;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 127px;
  padding-left: 101px;
  padding-right: 87px;

  background-image: url("../img/desktop-board.png");
  background-repeat: no-repeat;
  background-position: 99% 238px;

  // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //   background-image: url("../img/desktop-board@2x.png");
  // }

  @media (max-width: $tablet-width) {
    padding-bottom: 163px;
    padding-left: 25px;
    padding-right: 25px;

    background-image: url("../img/tablet-board.png");
    background-position: 100% 106px;

    // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    //   background-image: url("../img/tablet-board@2x.png");
    // }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 71px;
    padding-left: 15px;
    padding-right: 15px;

    background-image: url("../img/mobile-board.png");
    background-position: 100% 92px;
  }
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  @media (max-width: $tablet-width) {
    margin-top: 7px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.header__info {
  position: relative;

  display: flex;

  padding-top: 153px;

  @media (max-width: $tablet-width) {
    padding-top: 38px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column-reverse;
    padding-top: 227px;
  }
}

.header__logo-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 13px;

  list-style: none;

  @media (max-width: $mobile-width) {
    margin-top: 17px;
    margin-left: 2px;
  }
}

.header__logo--desktop {
  display: none;

  @media (min-width: $mobile-width) {
    display: block;
  }
}

.header__logo--mobile {
  @media (max-width: $mobile-width) {
    display: block;
  }

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.header__contact-email,
.header__contact-telephone {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  @media (max-width: $tablet-width) {
    font-size: 0;
  }
}

.header__contact-telephone {
  position: relative;

  margin-right: 39px;
  padding-left: 33px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;

    @media (max-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    padding-left: 23px;
  }
}

.header__contact {
  @media (max-width: $tablet-width) {
    padding-top: 12px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 9px;
  }
}

.header__contact-email {
  position: relative;

  margin-right: 79px;
  padding-left: 39px;

  &::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;

    width: 19px;
    height: 14px;

    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;

    @media (max-width: $tablet-width) {
      width: 26px;
      height: 19px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-right: 11px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}

.header__contact-callback {
  display: inline-block;
  margin-top: 17px;
  padding: 14px 27px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 1px solid #ffffff;
  border-radius: 5px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__info-title {
  position: relative;
  left: -3px;

  margin: 0;
  margin-bottom: 27px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;

    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;

    font-size: 40px;
    line-height: 47px;
  }
}

.header__info-text {
  position: relative;

  max-width: 718px;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 94px;

  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  line-height: 34px;

  &::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 0;

    width: 66px;
    height: 2px;

    background-color: #ffffff;

    @media (max-width: $tablet-width) {
      width: 32px;
    }

    @media (max-width: $mobile-width) {
      top: 15px;
      left: 1px;

      width: 33px;
    }
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 58px;
    padding-left: 47px;

    font-size: 18px;
    line-height: 156.8%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 44px;
    padding-left: 49px;

    font-size: 16px;
    line-height: 156.8%;
  }
}

.header__block-text {
  position: relative;
  z-index: 99;

  padding-top: 73px;

  @media (max-width: $tablet-width) {
    max-width: 524px;
    padding-left: 66px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin-left: 2px;
  }
}

.header__block-image {
  margin-left: 27px;

  background-image: url("../img/triangle1.png");
  background-repeat: no-repeat;
  background-position: 32px -124px;

  @media (max-width: $tablet-width) {
    position: relative;
    right: -22px;

    min-width: 265px;
    margin-left: 0;

    background: none;
  }

  @media (max-width: $mobile-width) {
    right: 0;
    min-width: auto;
  }
}

.header__info-consult {
  display: inline-block;
  margin-left: 94px;
  padding: 17px 46px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border-radius: 5px;
  background-color: #00b2ff;

  @media (max-width: $tablet-width) {
    position: relative;
    right: -30px;

    margin-left: 16px;
    padding: 17px 32px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__info-consult--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    right: auto;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__scroll-button {
  display: block;
  margin-top: 131px;
  margin-left: -44px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;

  background-color: transparent;
  border: none;
  opacity: 0.5;
  transform: rotate(-90deg);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__image-list {
  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.header__image-wrapper {
  position: relative;
  z-index: 9;
}

.header__image-item--desktop {
  display: block;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__image-item--tablet {
  position: relative;

  display: block;
  right: 5px;

  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__image-item--tablet::after {
  @media (max-width: $tablet-width) {
    content: "";

    position: absolute;
    top: -114px;
    right: 7px;

    width: 770px;
    height: 563px;

    background-image: url(" ../img/bg-header-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header__image-item--mobile {
  @media (max-width: $mobile-width) {
    width: 294px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $mobile-width) {
    display: none;
  }
}

.header__image-item--mobile::after {
  @media (max-width: $tablet-width) {
    content: "";

    position: absolute;
    top: -92px;
    right: 7px;

    width: 169px;
    height: 437px;

    background-image: url(" ../img/trangle-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
