.main {
  position: relative;

  padding-top: 111px;
  padding-bottom: 65px;

  overflow: hidden;

  @media (max-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 37px;
  }
}

.main::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 563px;
  left: -30px;

  width: 636px;
  height: 636px;

  background-image: url("../img/polygon-2.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main__advantages-list {
  position: relative;

  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 23px;
  padding-right: 7px;

  list-style: none;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main__container::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 150px;
  left: 328px;

  width: 636px;
  height: 640px;

  background-image: url("../img/polygon-5.png");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(240deg);

  @media (max-width: $mobile-width) {
    top: 729px;
    left: -6px;
  }
}

.main__info {
  position: relative;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 109px;
  padding-left: 204px;
  padding-right: 10px;

  &::before {
    content: "";

    position: absolute;
    top: 80px;
    left: -7px;

    width: 220px;
    height: 317px;

    background-image: url("../img/desktop-2005.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/desktop-2005@2x.png");
    }

    @media (max-width: $tablet-width) {
      top: 24px;
      left: 0;

      width: 245px;
      height: 362px;

      background-image: url("../img/tablet-2005.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

        background-image: url("../img/tablet-2005@2x.png");
      }
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 84px;
    // padding-left: 206px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 37px;
    padding-bottom: 64px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main__advantages-item {
  position: relative;

  max-width: 48.7%;
  padding-top: 95px;
  padding-bottom: 49px;
  padding-left: 43px;
  padding-right: 35px;
  margin-bottom: 30px;
  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;
  transition: 0.5s;

  &:hover {
    background-color: #00b2ff;
    border-color: transparent;
  }

  @media (max-width: $tablet-width) {
    max-width: 48%;
    padding-top: 66px;
    padding-bottom: 3px;
    padding-left: 26px;
    padding-right: 20px;
  }

  @media (max-width: $mobile-width) {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    padding: 71px 18px 8px 24px;
  }
}

.main__advantages-item svg {
  content: "";

  position: absolute;
  top: 40px;
  left: 40px;

  width: 33px;
  height: 35px;

  fill: #00b2ff;
  color: #00b2ff;
  transition: 0.5s;

  @media (max-width: $tablet-width) {
    top: 24px;
    left: 26px;
  }
}

.main__advantages-item:hover svg {
  fill: #ffffff;
  color: #ffffff;
}

.main__advantages-item::after {
  content: "";

  position: absolute;

  background-repeat: no-repeat;
}

.main__advantages-item:hover .main__advantages-title {
  color: #ffffff;
}

.main__advantages-item:hover .main__advantages-text {
  color: #ffffff;
}

.main__advantages-item--operate svg {
  left: 40px;

  @media (max-width: $tablet-width) {
    left: 24px;
  }
}

.main__advantages-item--operate::after {
  z-index: -1;
  top: -67px;
  left: -175px;

  width: 299px;
  height: 299px;

  background-image: url("../img/polygon.png");

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main__advantages-item--big {
  @media (max-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-right: 0;
  }
}

.main__advantages-item--big svg {
  width: 39px;
  height: 35px;

  @media (max-width: $tablet-width) {
    top: 22px;
    left: 21px;

    width: 40px;
    height: 33px;
  }
}

.main__advantages-item--full {
  padding-bottom: 92px;

  @media (max-width: $tablet-width) {
    padding-bottom: 39px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 12px;
  }
}

.main__advantages-item--full svg {
  top: 43px;

  width: 40px;
  height: 31px;

  @media (max-width: $tablet-width) {
    top: 24px;
    left: 25px;

    width: 31px;
  }
}

.main__advantages-item--person {
  padding-bottom: 17px;

  @media (max-width: $mobile-width) {
    padding-bottom: 8px;
  }
}

.main__advantages-item--person svg {
  top: 39px;

  width: 39px;
  height: 35px;

  @media (max-width: $tablet-width) {
    top: 22px;
    left: 25px;

    width: 33px;
  }
}

.main__advantages-item--person::after {
  content: "";

  position: absolute;
  top: 32px;
  right: -329px;

  width: 298px;
  height: 298px;

  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-60deg);

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main__advantages-title {
  margin: 0;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #00b2ff;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  transition: 0.5s;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.main__advantages-text {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  transition: 0.5s;

  @media (max-width: $tablet-width) {
    margin-top: 9px;
  }
}

.main__info-text {
  margin-bottom: 20px;

  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    margin-left: 188px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 39px;
    margin-left: 0;
  }
}

.main__info-text:last-of-type {
  margin-bottom: 39px;

  @media (max-width: $mobile-width) {
    margin-bottom: 29px;
  }
}

.main__info-dotted {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__info-close {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main__info-title {
  margin: 0;
  margin-bottom: 21px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #666666;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    margin-bottom: 26px;
    margin-left: 185px;

    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
    margin-left: 0;

    font-size: 28px;
    line-height: 140.62%;
  }
}

.main__info-more {
  display: inline-block;
  padding: 14px 50px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #00b2ff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: #ffffff;
  border: 1px solid #00b2ff;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &focus {
    opacity: 0.5;
  }

  @media (max-width: $tablet-width) {
    margin-left: 188px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}
