.main__advantages-title {
	font-family: 'RobotoCondesed', Arial, sans-serif;
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;

	@media (max-width: $mobile-width) {
		font-size: 20px;
		line-height: 140.62%;
	}
}

.main__advantages-text,
.main__info-text {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.main__info-title {
	font-family: 'RobotoCondesed', Arial, sans-serif;
	color: #666;
	font-size: 36px;
	font-weight: 400;
	line-height: 51px;

	@media (max-width: $tablet-width) {
		font-size: 32px;
		line-height: 140.62%;
	}

	@media (max-width: $mobile-width) {
		font-size: 28px;
		line-height: 140.62%;
	}
}

.main__info-more {
	font-family: 'RobotoCondesed', Arial, sans-serif;
	color: #00B2FF;
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
