.servises {
  padding-top: 88px;
  padding-bottom: 97px;

  background-color: #1b2d37;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 34px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 36px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.servises__wrapper {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 30px;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.servises__title {
  margin: 0;
  margin-bottom: 52px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    padding-right: 110px;

    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 43px;
    padding-left: 11px;
    padding-right: 0;

    font-size: 28px;
    line-height: 140.62%;
  }
}

.servises__list {
  display: flex;
  // flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.servises__item {
  position: relative;

  max-width: 370px;
  display: flex;
  flex-grow: 1;
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: #26353d;

  @media (max-width: $tablet-width) {
    width: 100%;
    min-width: 715px;
    max-width: 100%;
    margin-bottom: 45px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
    padding-bottom: 39px;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.servises__item:last-of-type {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.servises__item--components .servises__item-rapper {
  padding-top: 31px;
}

.servises__item-rapper {
  height: 100%;
  display: block;
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 10px;
  padding-bottom: 489px;

  @media (max-width: $tablet-width) {
    width: 375px;
    padding-top: 20px;
    padding-bottom: 136px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    min-width: 290px;
    height: 100%;
    padding-top: 20px;
    padding-left: 36px;
    padding-right: 85px;
  }
}

.servises__item:last-of-type .servises__item-rapper {
  @media (max-width: $tablet-width) {
    padding-bottom: 125px;
  }
}

.servises__item-link {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 63px;
  height: 63px;
  display: block;

  background-color: #00b2ff;
  background-image: url("../img/vector.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.7;
  }

  &:active,
  &focus {
    opacity: 0.5;
  }
}

.servises__item--production {
  background-image: url("../img/desktop-fabrication.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-fabrication@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/tablet-fabrication.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-fabrication@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/mobile-fabrication.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-fabrication@2x.png");
    }
  }
}

.servises__item--installation {
  background-image: url("../img/desktop-installation.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-installation@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/tablet-installation.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-installation@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/mobile-installation.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-installation@2x.png");
    }
  }
}

.servises__item--components {
  background-image: url("../img/desktop-light.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desktop-light@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/tablet-light.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-light@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/mobile-light.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-light@2x.png");
    }
  }
}

.servises__item-title {
  max-width: 165px;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  @media (max-width: $mobile-width) {
    margin: 0;
  }
}
